.contact{
    width: 200px;
    background-color: gray;
    padding: 10px;
    border: solid 2px black;
    border-radius: 10px;
    color: black;
    text-align: center;
    align-items: center;
}

.name{
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}

.buttonContainer{
    display: flex;
    gap: 15px;
    justify-content: center;
}